<div>
  <p>Schön, dass Du <strong>Berheim</strong> - die <strong>neue Zimmerbörse</strong> der
    <a href="https://smd.berlin">Hochschul-SMD Berlin</a> - nutzen möchtest. Wir hoffen, damit einen Beitrag für die
    Vernetzung der christlichen Community innerhalb der Stadt leisten zu können.</p>
  <p>Bitte beachte, dass die Benutzung von Berheim auf eigene Gefahr erfolgt. Die Identität der Nutzenden wird von
    uns
    nicht überprüft. Es kann möglicherweise vorkommen, dass es sich bei Angeboten oder Gesuchen um einen
    Betrugsversuch
    handelt. Sei also auch auf dieser Seite besonders vorsichtig.</p>
</div>